@import "./less/bootstrap/bootstrap";
@import "./less/persona";

//////////////////////////////////////////
//
// This file contains all the custom styling rules for this theme
//
// https://github.com/katzeilla/nodebb-theme-mint/theme.less
//
//////////////////////////////////////////

// override bootstrap's default variables
@brand-primary:         #4caf50; // mint's primary color
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

@mint-link:		#35b198; // clickable link
@mint-primary:		@brand-primary;
@mint-secondary:	#7dc880;

@input-border-focus:	@mint-secondary;

// borderless category menu on home page
li[component="categories/category"] {
	border: 0px !important;
}

// borderless button
.btn {
	border: 0px;
}

// primary buttons and taskbar icons 
.btn-primary, .fab {
	background-color: @mint-primary;

	&:focus, &:hover {
	               background-color: darken(@mint-primary, 10%);
	}
}

// secondary buttons
.btn-info {
	background-color: @mint-secondary;
	&:focus, &:hover {
	               background-color: darken(@mint-secondary, 10%);
	}
}

// dropdown toggle buttons when clicked open
.open > .dropdown-toggle.btn-info {
	background-color: @mint-secondary;
}

// clickable links
a {
	color: @mint-link;
	&:focus, &:hover {
	               color: darken(@mint-link, 10%);
	}
}

// override color for links in menu selection list, otherwise they will
// inherit @mint-link from the previous rule.
#user-status-collapse-toggle, .menu-section-list a:hover, .menu-section-list button:hover {
	color: #FFF; // white
}

// set color for reading progress bar on small screen
.topic > .pagination-block .progress-bar {
	background-color: @mint-secondary;
}

// unread new post/new message/new notification counter
.taskbar .navbar-nav li.taskbar-chat.new::after, .unread-count::after, 
.notification-list-mobile .unread a::after {
	border: 0px;
	background-color: @mint-primary;
}

// loading progress bar: spinning circle
#nprogress .spinner-icon {
	border-top-color:  @mint-secondary;
	border-left-color: @mint-secondary;
}

// loading progress bar header
#nprogress .peg {
	box-shadow: 0 0 10px @mint-primary , 0 0 5px @mint-primary;
}

// loading progress bar
#nprogress .bar {
	background: @mint-secondary;
}

// unread.tpl
// add proper margin to the "no unread post" banner
#category-no-topics {
	margin-top: 15px;
}

// dirty hack for fixing skin-readable's readability issues

.skin-readable button {
	color: #777;
}
.skin-readable button:hover {
	color: darken(#777, 10%);
}
// expand chat dropdown preview
ul.chat-list:nth-child(1) > li {
	width: 512px;
}

// disable necro post banner
.necro-post {
	display: none;
}

// remove underline from post title on profile timeline
a.topic-title {
	text-decoration: none !important;
}
